#app {
  text-align: center;
  color: #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.q-page {
  padding-left: auto;
}

.q-pa-md {
  width: 100%;
  margin: auto;
}

.q-table__title {
  color: #2c3e50;
  text-align: left;
  font-size: 27px;
  letter-spacing: 0.005em;
  font-weight: bold;
  min-width: 300px;
  margin: 4% 3%;
}
