#app {
  text-align: left;
  color: #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.q-pa-md.child {
  width: 100%;
  margin: auto;
  justify-content: center;
}

.notice_title {
  text-align: left;
  font-size: 27px;
  letter-spacing: 0.005em;
  font-weight: bold;
  margin-bottom: 2%;
}

.notice-form {
  flex: 1;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 20px;
}

.notice {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 80px;
}

.notice-sub-title {
  font-size: medium;
  font-weight: bold;
  color: #333;
  margin-top: 0;
}

.notice-list {
  list-style-type: none;
  padding: 0;
}

.notice-list li {
  margin-bottom: 10px;
}

.notice-content {
  margin-bottom: 20px;
}

.notice-content:last-child {
  margin-bottom: 0; /* 마지막 요소에는 하단 마진을 없애줍니다. */
}

.setting-sub-title {
  font-size: medium;
  font-weight: bold;
  color: #333;
  margin-top: 30px;
}

.goalSetting-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.goalSetting-item {
  flex-grow: 1; /* 부모 크기에 맞게 채워짐 */
  margin-right: 10px; /* 간격 조절 */
}

.goalSetting-item:last-child {
  max-width: 20%;
  margin-right: 0; /* 마지막 요소의 오른쪽 마진 제거 */
}

.notification-container {
  flex-grow: 1; /* 부모 크기에 맞게 채워짐 */
  margin-bottom: 50px;
}

.notification-checkbox {
  margin-right: 40px;
}

.setting-btn-container {
  display: flex;
}

.setting-btn {
  font-size: large;
  flex-grow: 1;
}
